<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CategoriasCadastroSoap" maxReceivedMessageSize="1000000" />
        <binding name="ParcelasSoap" maxReceivedMessageSize="1000000" />
        <binding name="UnidadesCadastroSoap" maxReceivedMessageSize="1000000" />
        <binding name="PedidoVendaProdutoSoap" maxReceivedMessageSize="1000000" />
        <binding name="FormasPagVendasSoap" maxReceivedMessageSize="1000000" />
        <binding name="ClientesCadastroSoap" maxReceivedMessageSize="1000000" />
        <binding name="ProdutosCadastroSoap" maxReceivedMessageSize="1000000" />
        <binding name="CidadesCadastroSoap" maxReceivedMessageSize="1000000" />
        <binding name="ProdutosImpostosSoap" maxReceivedMessageSize="1000000" />
        <binding name="ContaCorrenteCadastroSoap" maxReceivedMessageSize="1000000" />
        <binding name="VendedoresCadastroSoap" maxReceivedMessageSize="1000000" />
        <binding name="FamiliasCadastroSoap" maxReceivedMessageSize="1000000" />
        <binding name="EmpresasCadastroSoap" maxReceivedMessageSize="1000000"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://app.omie.com.br/api/v1/geral/categorias/"
        binding="basicHttpBinding" bindingConfiguration="CategoriasCadastroSoap"
        contract="CategoriaCadastroReference.CategoriasCadastroSoap"
        name="CategoriasCadastroSoap" />
      <endpoint address="http://app.omie.com.br/api/v1/geral/parcelas/"
        binding="basicHttpBinding" bindingConfiguration="ParcelasSoap"
        contract="ParcelasReference.ParcelasSoap" name="ParcelasSoap" />
      <endpoint address="http://app.omie.com.br/api/v1/geral/unidade/"
        binding="basicHttpBinding" bindingConfiguration="UnidadesCadastroSoap"
        contract="UnidadesCadastroReference.UnidadesCadastroSoap" name="UnidadesCadastroSoap" />
      <endpoint address="http://app.omie.com.br/api/v1/produtos/pedido/"
        binding="basicHttpBinding" bindingConfiguration="PedidoVendaProdutoSoap"
        contract="PedidoVendaProdutoReference.PedidoVendaProdutoSoap"
        name="PedidoVendaProdutoSoap" />
      <endpoint address="http://app.omie.com.br/api/v1/produtos/formaspagvendas/"
        binding="basicHttpBinding" bindingConfiguration="FormasPagVendasSoap"
        contract="FormaPagVendasReference.FormasPagVendasSoap" name="FormasPagVendasSoap" />
      <endpoint address="http://app.omie.com.br/api/v1/geral/clientes/"
        binding="basicHttpBinding" bindingConfiguration="ClientesCadastroSoap"
        contract="ClientesCadastroReference.ClientesCadastroSoap" name="ClientesCadastroSoap" />
      <endpoint address="http://app.omie.com.br/api/v1/geral/produtos/"
        binding="basicHttpBinding" bindingConfiguration="ProdutosCadastroSoap"
        contract="ProdutosCadastroReference.ProdutosCadastroSoap" name="ProdutosCadastroSoap" />
      <endpoint address="http://app.omie.com.br/api/v1/geral/cidades/"
        binding="basicHttpBinding" bindingConfiguration="CidadesCadastroSoap"
        contract="CidadesCadastroReference.CidadesCadastroSoap" name="CidadesCadastroSoap" />
      <endpoint address="http://app.omie.com.br/api/v1/geral/prodimp/"
        binding="basicHttpBinding" bindingConfiguration="ProdutosImpostosSoap"
        contract="ProdutosImpostosReference.ProdutosImpostosSoap" name="ProdutosImpostosSoap" />
      <endpoint address="http://app.omie.com.br/api/v1/geral/contacorrente/"
        binding="basicHttpBinding" bindingConfiguration="ContaCorrenteCadastroSoap"
        contract="ContaCorrenteCadastroReference.ContaCorrenteCadastroSoap"
        name="ContaCorrenteCadastroSoap" />
      <endpoint address="http://app.omie.com.br/api/v1/geral/vendedores/"
        binding="basicHttpBinding" bindingConfiguration="VendedoresCadastroSoap"
        contract="VendedoresCadastroReference.VendedoresCadastroSoap"
        name="VendedoresCadastroSoap" />
      <endpoint address="http://app.omie.com.br/api/v1/geral/familias/"
        binding="basicHttpBinding" bindingConfiguration="FamiliasCadastroSoap"
        contract="FamiliasProdutoReference.FamiliasCadastroSoap" name="FamiliasCadastroSoap" />
      <endpoint address="http://app.omie.com.br/api/v1/geral/empresas/"
        binding="basicHttpBinding" bindingConfiguration="EmpresasCadastroSoap"
        contract="EmpresaCadastroReference.EmpresasCadastroSoap" name="EmpresasCadastroSoap" />
    </client>
  </system.serviceModel>
</configuration>